@{
    Layout = "~/Views/Shared/Dash_Layout.cshtml";
}
<!-- Start Dashboard Section -->
<section class="dashboard section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <!-- Start Dashboard Sidebar -->
                <div class="dashboard-sidebar">
                    <div class="user-image">
                        <img src="~/Content/images/avatars/image1.jpg" alt="#">
                        <h3>
                            Adrian Etenyi
                            <span><a href="javascript:void(0)">nairdaee</a></span>
                        </h3>
                    </div>
                    <div class="dashboard-menu">
                        <ul>
                            <li>
                                <a class="active" href="dashboard.html">
                                    <i class="lni lni-dashboard"></i>
                                    Dashboard
                                </a>
                            </li>
                            <li>
                                <a href="profile-settings.html"><i class="lni lni-pencil-alt"></i> Edit Profile</a>
                            </li>
                            <li><a href="my-items.html"><i class="lni lni-bolt-alt"></i> My Ads</a></li>
                            <li><a href="post-item.html"><i class="lni lni-circle-plus"></i> Post An Ad</a></li>
                            <li><a href="bookmarked-items.html"><i class="lni lni-bookmark"></i> Favorite Cars</a></li>
                        </ul>
                        <div class="button">
                            <a class="btn" href="javascript:void(0)">Logout</a>
                        </div>
                    </div>
                </div>
                <!-- Start Dashboard Sidebar -->
            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <div class="main-content">
                    <!-- Start Details Lists -->
                    <div class="details-lists">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <!-- Start Single List -->
                                <div class="single-list">
                                    <div class="list-icon">
                                        <i class="lni lni-checkmark-circle"></i>
                                    </div>
                                    <h3>
                                        340
                                        <span>Total Cars Posted</span>
                                    </h3>
                                </div>
                                <!-- End Single List -->
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <!-- Start Single List -->
                                <div class="single-list two">
                                    <div class="list-icon">
                                        <i class="lni lni-bolt"></i>
                                    </div>
                                    <h3>
                                        23
                                        <span>Featured Cars </span>
                                    </h3>
                                </div>
                                <!-- End Single List -->
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <!-- Start Single List -->
                                <div class="single-list three">
                                    <div class="list-icon">
                                        <i class="lni lni-emoji-sad"></i>
                                    </div>
                                    <h3>
                                        45
                                        <span>Expired Listings </span>
                                    </h3>
                                </div>
                                <!-- End Single List -->
                            </div>
                        </div>
                    </div>
                    <!-- End Details Lists -->
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-12">
                            <!-- Start Activity Log -->
                            <div class="activity-log dashboard-block">
                                <h3 class="block-title">My Activity Log</h3>
                                <ul>
                                    <li>
                                        <div class="log-icon">
                                            <i class="lni lni-alarm"></i>
                                        </div>
                                        <a href="javascript:void(0)" class="title">Your Profile Updated</a>
                                        <span class="time">12 Minutes Ago</span>
                                        <span class="remove"><a href="javascript:void(0)"><i class="lni lni-close"></i></a></span>
                                    </li>
                                    <li>
                                        <div class="log-icon">
                                            <i class="lni lni-alarm"></i>
                                        </div>
                                        <a href="javascript:void(0)" class="title">You change your password</a>
                                        <span class="time">59 Minutes Ago</span>
                                        <span class="remove"><a href="javascript:void(0)"><i class="lni lni-close"></i></a></span>
                                    </li>
                                    <li>
                                        <div class="log-icon">
                                            <i class="lni lni-alarm"></i>
                                        </div>
                                        <a href="javascript:void(0)" class="title">Your cars were approved</a>
                                        <span class="time">5 Hours Ago</span>
                                        <span class="remove"><a href="javascript:void(0)"><i class="lni lni-close"></i></a></span>
                                    </li>
                                    <li>
                                        <div class="log-icon">
                                            <i class="lni lni-alarm"></i>
                                        </div>
                                        <a href="javascript:void(0)" class="title">You submitted new cars for review</a>
                                        <span class="time">8 hours Ago</span>
                                        <span class="remove"><a href="javascript:void(0)"><i class="lni lni-close"></i></a></span>
                                    </li>
                                    <li>
                                        <div class="log-icon">
                                            <i class="lni lni-alarm"></i>
                                        </div>
                                        <a href="javascript:void(0)" class="title">You joined BidMyCar</a>
                                        <span class="time">1 day Ago</span>
                                        <span class="remove"><a href="javascript:void(0)"><i class="lni lni-close"></i></a></span>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Activity Log -->
                        </div>
                        <div class="col-lg-6 col-md-12 col-12">
                            <!-- Start Recent Items -->
                            <div class="recent-items dashboard-block">
                                <h3 class="block-title">Recently viewed cars</h3>
                                <ul>
                                    <li>
                                        <div class="image">
                                            <a href="javascript:void(0)"><img src="~/Content/images/cars/dbx1.jpg" alt="#"></a>
                                        </div>
                                        <a href="javascript:void(0)" class="title">2023 BWM X5M Competition</a>
                                        <span class="time">12 Minutes Ago</span>
                                        <span class="remove"><a href="javascript:void(0)"><i class="lni lni-close"></i></a></span>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="javascript:void(0)"><img src="~/Content/images/cars/flyingspur.jpg" alt="#"></a>
                                        </div>
                                        <a href="javascript:void(0)" class="title">2023 Bentley Flying Spur W12</a>
                                        <span class="time">2 Hours Ago</span>
                                        <span class="remove"><a href="javascript:void(0)"><i class="lni lni-close"></i></a></span>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="javascript:void(0)"><img src="~/Content/images/cars/panamera.jpeg" alt="#"></a>
                                        </div>
                                        <a href="javascript:void(0)" class="title">2022 Porsche Panamera 4S Sport Turismo</a>
                                        <span class="time">1 week Ago</span>
                                        <span class="remove"><a href="javascript:void(0)"><i class="lni lni-close"></i></a></span>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="javascript:void(0)"><img src="~/Content/images//cars/Macan1.jpg" alt="#"></a>
                                        </div>
                                        <a href="javascript:void(0)" class="title">2023 Porsche Macan Turbo S</a>
                                        <span class="time">3 week Ago</span>
                                        <span class="remove"><a href="javascript:void(0)"><i class="lni lni-close"></i></a></span>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Recent Items -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Dashboard Section -->
