@{
    Layout = "~/Views/Shared/Dash_Layout.cshtml";
}
<section class="user-type style3">
    <div class="container">

        <div class="row">

            <div class="col-12">
                <div class="hero-text text-center">
                    <!-- Start Hero Text -->
                    <div class="section-heading">
                        <h2 class="wow fadeInUp" data-wow-delay=".3s">Which kind of user are you?</h2>
                        <p class="wow fadeInUp" data-wow-delay=".5s">This information will help us serve you better</p>
                    </div>
                    <!-- End Search Form -->
                    <!-- Start Categories -->
                    <div class="categories style2">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4  col-6">
                                        <!-- Start Single Category -->
                                        <a href="/Profile/NormalUser" class="single-cat wow fadeInUp"
                                           data-wow-delay=".4s">
                                            <div class="icon">
                                                <img src="~/Content/images/categories/car_buyer.svg" alt="#">
                                            </div>
                                            <h3>Potential Buyer</h3>
                                            <h5 class="total"><b>Select</b></h5>
                                        </a>
                                        <!-- End Single Category -->
                                    </div>
                                    <div class="col-lg-4 col-md-4  col-6">
                                        <!-- Start Single Category -->
                                        <a href="/Profile/IndividualSeller" class="single-cat wow fadeInUp"
                                           data-wow-delay=".6s">
                                            <div class="icon">
                                                <img src="~/Content/images/categories/independent_car_seller.svg" alt="#">
                                            </div>
                                            <h3>Individual Seller</h3>
                                            <h5 class="total"><b>Select</b></h5>
                                        </a>
                                        <!-- End Single Category -->
                                    </div>
                                    <div class="col-lg-4 col-md-4  col-12">
                                        <!-- Start Single Category -->
                                        <a href="/Profile/Dealership" class="single-cat wow fadeInUp"
                                           data-wow-delay="1s">
                                            <div class="icon">
                                                <img src="~/Content/images/categories/car_dealership.svg" alt="#">
                                            </div>
                                            <h3>Car Dealership</h3>
                                            <h5 class="total"><b>Select</b></h5>
                                        </a>
                                        <!-- End Single Category -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Categories -->

                </div>
            </div>
        </div>
    </div>
</section>
